@media (max-width:1366px){
	


}

@media (max-width:1280px) {
	


}


@media (max-width:1024px){
	


}


@media (max-width: 980px) {
	


}


@media (max-width: 768px) {




}

@media (max-width: 767px) {
	



}


@media (max-width: 640px) {
	


}


@media (max-width: 480px) {




}

@media (max-width: 360px) {
.btn.btn-primary.btn-lg.btn-block{
	width:100%;
}

}

@media (max-width: 320px) {
	.btn.btn-primary.btn-lg.btn-block{
	width:100%;
}

}
.quickview {

    width: 100% !important;
	padding:6px 10px;

}